.product-showcase {
  display: flex;
  gap: 2em;
  width: 80%;
  max-width: 1200px;
  margin: 5em auto;
}

.product-showcase__img {
  align-self: start;
}

.product-showcase__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 4em;
}

.product-showcase__body__desc {
  margin-bottom: 1em;
}

.product-showcase__body__price {
  font-size: 3rem;
  font-weight: bold;
}

.product-showcase__body__form {
  display: flex;
  width: 100%;
  margin-bottom: 2em;
  border: none;
}

.product-showcase__body__form__title {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}

.product-showcase__body__form__select {
  padding: 0.5em 1em;
}

.product-showcase__body__form__btn {
  width: 100%;
  padding: 1em 0;
}
